{% block content %}

  <div id="res"></div>

{% endblock %}

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  const main = async () => {
    if (window.ethereum) {
      window.web3 = new Web3(window.ethereum);
      await window.ethereum.request({ method: 'eth_requestAccounts' });
    } else if (window.web3) {
      window.web3 = new Web3(window.web3.currentProvider);
    } else {
      window.alert("No ethereum browser detected! You can check out MetaMask.");
    }

    const web3 = window.web3;
    const accounts = await web3.eth.getAccounts();
    const protocol = new web3.eth.Contract(JSON.parse('{{ abi|safe }}'), "{{ address }}");
    let account = "{{ account }}"
    let id = "{{ id }}"
    let bal = await protocol.methods.balanceOf(account, id).call({ from: accounts[0] });
    $('#res').text(`{
      "balalce": ${bal}
    }`);
  }
  
  main()
</script>