{% extends "base.html" %}
{% load i18n %}

{% block head_title %}Ohara Protocol{% endblock %}

{% block content %}

<p>處理中，請稍後...</p>

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  const main = async () => {
    if (window.ethereum) {
      window.web3 = new Web3(window.ethereum);
      await window.ethereum.request({ method: 'eth_requestAccounts' });
    } else if (window.web3) {
      window.web3 = new Web3(window.web3.currentProvider);
    } else {
      window.alert("No ethereum browser detected! You can check out MetaMask.");
    }

    const web3 = window.web3;
    const accounts = await web3.eth.getAccounts();
    const protocol = new web3.eth.Contract(JSON.parse('{{ abi|safe }}'), "{{ address }}");
    const account = "{{ account }}";
    const id = "{{ id }}";
    const amount = "{{ amount }}";
    let gas = await protocol.methods.mint(account, id, amount, "0x00").estimateGas({ from: accounts[0] });
    console.log("Estimate Gas: ", gas);
    gas += 10000;
    await protocol.methods.mint(account, id, amount, "0x00").send({ from: accounts[0], gas: gas }).on('error', function(error){
      const error_messenge = "錯誤，請聯繫開發人員以取得更進一步的資訊。\n錯誤訊息為：" + JSON.stringify(error);
      window.alert(error_messenge);
      window.location.href="{% url 'main' %}";
    }).on("transactionHash", (hash) => {
      const messenge = "交易成功！\n交易 hash 為：" + hash;
      window.alert(messenge);
      window.location.href="{% url 'main' %}";
    });
  }
  
  main();
</script>

{% endblock %}
