<head>
  <title>Ohara Protocol</title>
</head>

<h1>我的出版</h1>
<div id="account"></div>
<form onsubmit="hasRole(event)">
    <label for="name">請輸入你的出版社名稱:</label>
    <input type="text" id="name" name="name" required><br><br>
    <input type="submit" value="提交">
</form>
<button id="registerPublisher">註冊出版社</button>

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  let accounts;
  const hasRole = async (event) => {
    event.preventDefault();
    const protocol = new web3.eth.Contract(JSON.parse('{{ abi|safe }}'), "{{ address }}");
    const formData = new FormData(event.target);
    const publishername = formData.get('name');
    const hash = web3.utils.soliditySha3(web3.eth.abi.encodeParameter("string", publishername));
    const verified = await protocol.methods.hasRole(hash, accounts[0]).call({ from: accounts[0] });
    if (!verified) {
        window.alert("你並不屬於該出版社，你可以嘗試註冊此出版社或是與該出版社的成員連絡已取得資格。");
    }
    else {
        const publisher_name = document.getElementById("name").value;
        const welcome_messenge = "歡迎，" + publisher_name + " 的管理者。";
        window.alert(welcome_messenge);
        window.location.href = "../afterPublisher/?name=" + publisher_name + "&hash=" + hash;
    }
  }

  const main = async () => {
    document.getElementById("registerPublisher").onclick = () => {
      window.location.href = "{% url 'registerPublisher' %}";
    }
    if (window.ethereum) {
      window.web3 = new Web3(window.ethereum);
      await window.ethereum.request({ method: 'eth_requestAccounts' });
    } else if (window.web3) {
      window.web3 = new Web3(window.web3.currentProvider);
    } else {
      window.alert("No ethereum browser detected! You can check out MetaMask.");
    }

    const web3 = window.web3;
    accounts = await web3.eth.getAccounts();
    $('#account').text(`
        Welcome ${accounts}!
    `);
  }
  
  main();
</script>