<head>
  <title>Ohara Protocol</title>
</head>

<h1>出版</h1>
<div>Welcome {{ name }}!</div>
<form method="POST" enctype="multipart/form-data" onsubmit="publish(event)">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="送出">
</form>

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  const publish = async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    if (window.ethereum) {
      window.web3 = new Web3(window.ethereum);
      await window.ethereum.request({ method: 'eth_requestAccounts' });
    } else if (window.web3) {
      window.web3 = new Web3(window.web3.currentProvider);
    } else {
      window.alert("No ethereum browser detected! You can check out MetaMask.");
    }

    const web3 = window.web3;
    const accounts = await web3.eth.getAccounts();
    const protocol = new web3.eth.Contract(JSON.parse('{{ abi|safe }}'), "{{ address }}");
    const id = await protocol.methods.currentId().call({ from: accounts[0] });
    fetch("{% url 'setIdToPublisherByDefaultAdmin' %}?id=" + id.toString() + "&publisher={{ name }}", {
      method: 'GET',
      headers: {
          'Accept': 'application/json',
      },
    }).then(response => response.json()).then(async (response) => {
      if (response['status'] == 1) {
        let newInput = document.createElement('input');
        newInput.type = 'hidden';
        newInput.value = id;
        newInput.name = 'id';
        newInput.id = 'id';
        event.target.appendChild(newInput);
        window.alert("出版成功！\n你的書籍 id 為 " + id.toString());
        event.target.submit();
      }
      else {
        window.alert("錯誤，請聯繫開發人員以取得更進一步的資訊。");
      }
    });
  }
</script>